{% extends 'core/base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center mt-5">
        <h3>Hola! gracias por darme la oportunidad de hacer el challenge 🙌</h3>
        <p class="lead">No soy un experto en front-end (soy muy back-end 🥸❤🐧), asi que voy a hacer mi mejor esfuerzo 🤓</p>
    </div>
</div>
<div class="container">
    {% include 'core/search.html' %}
    {% if status_code == 404 %}
    <div class="text-center">
        <p>{{ error_detail }}</p>
    </div>
    {% endif %}
    {% if pokemon_list %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Foto</th>
        </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon_list %}
        <tr>
            <td>{{ pokemon.name.capitalize() }}</td>
            <td><img src="{{ pokemon.sprites.front_default }}" alt=""></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <div class="text-center">
        <p>Realiza una busqueda para mostrar los pokemones, por ejemplo: pikachu, charmander... (me gustaba mas DBZ)</p>
    </div>
    {% endif %}
</div>
{% endblock %}